# =========================

# Virtual Environment

# =========================

venv/
.env

# =========================

# Python

# =========================

**pycache**/
*.py[cod]
*$py.class

# =========================

# Build / Distribution

# =========================

build/
dist/
*.egg-info/

# =========================

# Logs

# =========================

*.log

# =========================

# IDEs

# =========================

.vscode/
.idea/

# =========================

# macOS

# =========================

.DS_Store

# =========================

# Pytest

# =========================

.pytest_cache/
.coverage
htmlcov/

# =========================

# Alembic Cache

# =========================

alembic/**pycache**/

# =========================

# Database Files

# =========================

*.db
*.sqlite3

# =========================

# Temporary Files

# =========================

temp/
tmp/

# =========================

# Experimental / Debug Files

# =========================

scratch/
debug.py

# Uncomment if you don't want

# test files in GitHub

# test_phi3.py

# test_mapping.py
